container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging/kit_dashboard && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kit_dashboard/kit_dashboard.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kit_dashboard.settings