/* FONTS */
@font-face {
  font-family: Stolzl; src: url('fonts/Stolzl-Regular.otf');
}
@font-face {
  font-family: Stolzl;
  font-weight: 600;
  src: url('fonts/Stolzl-Medium.otf');
}
@font-face {
  font-family: Stolzl;
  font-weight: bold;
  src: url('fonts/Stolzl-Bold.otf');
}
@font-face {
  font-family: Monument;
  src: url('fonts/MonumentExtended-Ultrabold.otf');
}

:root {
  --small-font: 'Inter', sans-serif;
}

/* BODY */
body {
  font-family: --small-font, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}
.font-monument {
  font-family: Monument, sans-serif;
}

.font-stolzl {
    font-family: Stolzl, sans-serif;
}
html, body {
  background: #1e1e1e;   /* your dark background */
  color: rgba(255,255,255,.92);
  margin: 0;
}
/* ===== Dashboard layout (matches your mock) ===== */

.dash{
  min-height: calc(100vh - 120px); /* leaves room for nav/footer if you have them */
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;

}

/* background like the mock */
.dash__main{
  padding-top: 12px;

}

.dash__title{
  font-size: 44px;
  letter-spacing: .2px;
  margin: 10px 0 22px 0;
  color: rgba(255,255,255,.92);
}

/* Sidebar */
.dash__sidebar{
  background: #3f3f3f;
  border-radius: 18px;
  height: 90vh;
  padding: 18px;
  margin-top: 100px;
}

.dash__menu{
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 0;
  background: rgba(0,0,0,.35);
  color: rgba(255,255,255,.9);
  font-size: 20px;
  cursor: pointer;
}

/* Grid of cards */
.kit-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
}

/* Card frame */
.kit-card{
  background: #4a4a4a;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 14px;
  box-shadow: 0 10px 28px rgba(0,0,0,.35);
}

/* Title row inside card */
.kit-card__top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 10px;
}
.kit-card__event{
  color: rgba(255,255,255,.9);
  font-weight: 700;
  font-size: 16px;
}
.kit-card__kit{
  color: rgba(255,255,255,.70);
  font-weight: 300;
  font-size: 16px;
}

.kit-card__time{
  color: rgba(255,255,255,.65);
  font-size: 12px;
  white-space: nowrap;
}

/* Inner black panel */
.kit-card__inner{
  background: #121212;
  flex: 1;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  border-radius: 14px;
  padding: 14px;
  color: rgba(255,255,255,.85);

}

.kit-card-link{
  text-decoration: none;
  color: inherit;
  display: block;
}
.kit-card-link:hover .kit-card{
  transform: translateY(-2px);
}
.kit-card{
  transition: transform .12s ease;
}


/* Post Mortem Page */
/* Outer Grey */
.postmort-card__outer{
  background: #4a4a4a;
  border-radius: 18px;
  padding: 14px;
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
  box-shadow: 0 10px 28px rgba(0,0,0,.35);
}
/* Event date and EIC */
.postmort-row {
  display: flex;
  gap: 10px;
}

.postmort-row .postmort-card__small_inner {
  flex: 1;
}
/* Inner black Small */
.postmort-card__small_inner{
  background: #121212;
  border-radius: 14px;
  padding: 10px;
  min-height: 75px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(255,255,255,.85);
}
/* Inner black Large */
.postmort-card__large_inner{
  background: #121212;
  border-radius: 14px;
  padding: 10px;
  min-height: 500px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(255,255,255,.85);

}
/* Title row inside card */
.postmort-card__top{
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.postmort-card__time {
  position: absolute;
  right: 0;
}
.postmort-card__event{
  color: rgba(255,255,255,.9);
  font-weight: 700;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
}
.postmort-card__kit{
  color: rgba(255,255,255,.70);
  font-weight: 700;
  font-size: 40px;
}
.postmort-card__time{
  color: rgba(255,255,255,.65);
  font-size: 12px;
  white-space: nowrap;
}
/* post mort details */
.postmort-card__info{
  color: rgba(255,255,255,.65);
  font-size: 25px;
  white-space: nowrap;
}
.postmort-card__summary{
  color: rgba(255,255,255,.65);
  font-size: 25px;
  white-space: nowrap;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
.dashboard-hamburger{
  position: relative;
  left: -35px; /* above sidebar */
}
body.sidebar-open .dashboard-hamburger { display: none !important; }

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Responsive: 2 columns then 1 */
@media (max-width: 1100px){
  .kit-grid{ grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
}
/* phones */
@media (max-width: 520px){
  .kit-grid{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px; /* optional */
  }
}

