{% extends "base.html" %}
{% block title %}Post Mortem{% endblock %}

{% block content %}
<!-- ===== Dashboard Sidebar ===== -->
<aside id="pageSidebar" class="page-sidebar" aria-hidden="true">
  <button class="page-sidebar__close" type="button" onclick="closeSidebar()" aria-label="Close sidebar">×</button>

  <nav class="page-sidebar__nav">
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="#">Calendar</a>
    <a href="{% url 'kit_home' 1 %}">Kit 1</a>
    <a href="{% url 'kit_home' 2 %}">Kit 2</a>
    <a href="{% url 'kit_home' 3 %}">Kit 3</a>
    <a href="{% url 'kit_home' 4 %}">Kit 4</a>
    <a href="{% url 'kit_home' 5 %}">Kit 5</a>
    <a href="{% url 'kit_home' 6 %}">Kit 6</a>
    <a href="{% url 'kit_home' 7 %}">Kit 7</a>
    <a href="{% url 'kit_home' 8 %}">Kit 8</a>
    <a href="{% url 'kit_home' 9 %}">Kit 9</a>
    <a href="{% url 'kit_home' 10 %}">Kit 10</a>
    <a href="{% url 'kit_home' 11 %}">Kit 11</a>
  </nav>
</aside>

<!-- Overlay -->
<div id="pageOverlay" class="page-overlay" onclick="closeSidebar()" hidden></div>

<!-- Hamburger (dashboard only) -->
<button class="dash__menu dashboard-hamburger" type="button" onclick="openSidebar()" aria-label="Open sidebar">☰</button>


<div class="dash">

  <!-- Main -->
  <section class="dash__main">
    <h1 class="dash__title">Post Mortem</h1>
     <div class="postmort-card__outer">
         <div class="postmort-card__top">
             <span class="postmort-card__event">{{ pm.event_name }}</span>
            <span class="postmort-card__kit">Kit {{ pm.kit_id }}</span>
            <span class="postmort-card__time">
              {{ pm.updated_at|default:pm.created_at|date:"M d, Y H:i" }}
            </span>
         </div>
         <div class="postmort-card__small_inner">
             <span class="postmort-card__info">EIC: {{ pm.name }}
             </span>
         </div>
         <div class="postmort-card__small_inner">
             <span class="postmort-card__info">Date: {{ pm.event_date }}
             </span>
         </div>
         <div class="postmort-card__large_inner">
             <span class="postmort-card__summary">Summary: {{ pm.summary }}
             </span>
         </div>
     </div>
  </section>

</div>
{% endblock %}
